{% extends 'base.html' %}
{% load static %}

{% block contenido_cuerpo %}
<main>
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h4>Nuestra Visión</h4>
                        <p> La premisa de News noticias es mantener al internauta siempre al tanto  
                            de los últimos movimientos tecnológicos, brindando información confiable, actualizada y relevante para que nuestros lectores puedan comprender y aprovechar las oportunidades que ofrece el mundo digital.</p>
                    </div>
                    <div class="about-details-cap mb-50">
                        <h4>Nuestra Visión</h4>
                        <p>Creemos en la importancia de informar de manera clara, precisa y responsable
                            sobre los avances tecnológicos, promoviendo el acceso al conocimiento y
                            fomentando una comunidad digital informada y participativa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--? About Area Start-->
    <div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'img/gallery/section_bg02.jpg' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="support-location-img">
                        <img src="{% static 'img/gallery/about.png' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittles section-tittles2 mb-50">
                            <span>Nuestros Servicios</span>
                            <h2>En Tendencia</h2>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">Diariamente miles de empresas requieren la creación y configuración de
                                una pagina web, debido al gran alcanze mundial que habilitan. </p>
                            <p class="mb-65">Dentro de los servicios de News, nos aseguramos que la creación de dichas web´s 
                                sea segura, dinámica y amigable para el usuario.</p>
                            <a href="https://github.com/AlejandroTorres0/Proyecto-Final-INFO-2025" class="btn post-btn ">More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Area End-->
    <!-- Team Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittles mb-70">
                        <span>Profesionales Consolidados</span>
                        <h2>Equipo News</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                <!-- single Tem -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'img/gallery/team2.png' %}" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">Por si aparece alguien ma</a></h3>
                            <span>UX Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'img/gallery/team3.png' %}" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="https://github.com/CloudSanJR">Santiago Robeff</a></h3>
                            <span>Backend Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'img/gallery/team1.png' %}" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="https://github.com/AlejandroTorres0">Alejandro Torres</a></h3>
                            <span>Full Stack Developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'img/gallery/team1.png' %}" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="https://github.com/Mayra-D">Mayra Duarte</a></h3>
                            <span>UX Designer</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{% static 'img/gallery/team1.png' %}" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="https://github.com/Agustinf18">Agustin Medina</a></h3>
                            <span>Frontend Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- banner-last Start -->
    <div class="banner-area gray-bg pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                    <div class="banner-one">
                        <img src="{% static 'img/gallery/Logo_info1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-last End -->
</main>
{%endblock contenido_cuerpo %}